@model DuAnTotNghiep.Models.NhanVien

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NhanVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNv" class="control-label"></label>
                <input asp-for="MaNv" class="form-control" />
                <span asp-validation-for="MaNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTenNv" class="control-label"></label>
                <input asp-for="HoTenNv" class="form-control" />
                <span asp-validation-for="HoTenNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTenAdmin" class="control-label"></label>
                <select asp-for="HoTenAdmin" class ="form-control" asp-items="ViewBag.HoTenAdmin"></select>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChucVu" class="control-label"></label>
                <input asp-for="ChucVu" class="form-control" />
                <span asp-validation-for="ChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuongCoBan" class="control-label"></label>
                <input asp-for="LuongCoBan" class="form-control" />
                <span asp-validation-for="LuongCoBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoGioLamViec" class="control-label"></label>
                <input asp-for="SoGioLamViec" class="form-control" />
                <span asp-validation-for="SoGioLamViec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <select asp-for="UserName" class ="form-control" asp-items="ViewBag.UserName"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
